
html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #e8e8e8;

}
h2{
  font-size: 1rem;
}

header,
footer {
  flex: none;
}
.button{
  background-color: #085394;
  color:#fff;
  width:100%;
  padding: 5px 0;
  border-color: #085394;
}


.navbar-center{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 10px;
    text-align: center;
    overflow: visible;
    height:0;
    color: white !important;

}

.navbar-color{
  background-color: #085394;

}

.ds-flex-main{
  display: flex;
  flex-direction: row;

}
.ds-flex-sub{
  display: flex;
  flex-direction: column;
}


.main-container{
  height: 100%;
}

.video-container{
width:80%;

justify-content:center;

}

.form{

  height: auto;
  background: #F05454;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.popup{
  visibility: hidden;
}

.footer-container{
  padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
   background-color: #085394;
}
.footer-container> p{
  color: white;

}
.nav-conatiner-mobile{
  display: none;
}

@media only screen and (max-width: 600px) {
 
  .form{
    display: none;
  }
  .video-container {
    width: 100%;
  }

  .navbar-center {
    position: unset;
    display: inline-table;

  
}

.pl-5, .px-5 {
 padding-left: 1rem!important;
}
.pr-5, .px-5 {
  padding-right: 1rem!important;
}

.main-container {
  height: auto;
  display: flex;
    flex-direction: column;
}
.nav-conatiner-mobile{
  display: flex;
  flex-direction: column;
  background-color: #F05454;
  width: 80%;
  place-self: center;
  margin: 0 0 10px 0;
  padding: 10px;
}
.nav-conatiner-mobile> button{

margin: 10px 0 10px 0;
width: 80%;
place-self: center;


}
iframe{

  height: 300px;
}
.navbar-nav{
  display: none;
}

}